body {
margin: 0; 
font-family: sans-serif; 
}
#instruction {
text-align: center;
margin: 20px auto;
}
#UserTable {
    width: 90%;
    margin: 20px auto;
}
.UserSectionWrapper {
}
.user_section {
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: #0094ff;
    color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0px;
}

    .user_section:hover {
        background-color: #13B7FF; 
    }


.icon {
    width: 20px;
    height: 20px; 
    margin: auto; 
}

.name {
    margin-left: 10px;
}

.whiteSection, .graySection {
    padding: 10px;
}

.whiteSection {
    background-color: #E9E9E9;
    color: #3c3c3c;
}
.graySection {
    background-color: #B6B6B6;
    color: #ffffff;
}

.selected {

}

.PostWrapper {
    transition: height 2s;
}
.closed {
    transition: height 2s;
    height: 0px;
    overflow-y: hidden;

}

.opened {
    transition: height 2s; 
    height: auto;

}

#scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: auto;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #136AFF;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer; 

}

    #scrollButton:hover {
        background-color: #2777FF; 
    }

    #scrollButton:active {
        transform: translateX(5px) translateY(5px); 
        background-color: #136AFF; 
    }

#footer {
    margin: 20px auto;
    display: grid; 
    text-align: center;
}

    #footer div {
        display: block;
        margin: auto;
    }